
DATABASE_URL=postgresql://postgres:password123@localhost:5432/farmland_db
EE_CREDENTIALS_PATH=gee_service_account.json
EE_SERVICE_ACCOUNT=your-service-account-email@gcp-project.iam.gserviceaccount.com
RESNET_WEIGHTS_PATH=backend/infrastructure/ml/best_resnet_satellite_model.pth
